@import "tailwindcss";


.hidescroll::-webkit-scrollbar{
    display: none;
}

.goog-te-gadget-simple{
   display: flex !important;
    flex-direction: row !important;
    width: auto !important;
    height: 30px !important;
    padding: 5px  !important;
}
.goog-te-gadget-simple > img {
  display: none !important;
  visibility: hidden !important;
}

/* Only show the dropdown */
#google_translate_element {
  display: inline-block !important;
}

/* Style the dropdown */
.goog-te-combo {
  padding: 6px 12px;
  display: none !important;
  border-radius: 6px;
  background-color: white;
  border: 1px solid #d1d5db; /* Tailwind gray-300 */
  font-size: 0.875rem;
  font-family: 'Inter', sans-serif;
  color: #1f2937; /* Tailwind gray-800 */
  outline: none;
  transition: box-shadow 0.3s ease;
}
.goog-te-combo:hover {
  box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.4); /* Tailwind ring-blue-500 */
}
